body {
  padding-top: 10px;
    margin: 0 30px;

}
.starter-template {
    padding: 40px 15px;
    text-align: justify;
}
.alert:empty {
    display: none;
}
.ajax-spinner{
    background-image: url("/img/ajax.gif");
    background-repeat: no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
    margin: 20px auto;
    display:none;
}